.calc{
    width: 400px;
    height: 600px;
    background: rgb(28, 26, 12);
    margin-left: 400px;

}
#screen{
    width: 297px;
    height: 40px;
    margin-left: 45px;
    margin-top: 25px;
    pointer-events: none;
}
.btn{
    width: 60px;
    height: 45px;
    margin-left: 30px;
    margin-top: 30px;
    background: rgb(200, 226, 123);
}
.circle-button{
    width: 60px;
    height: 45px;
    margin-left: 30px;
    margin-top: 30px;
    background: rgb(213, 12, 35);
}